h1{
    text-align: center;
    background-color: lightseagreen;
    height: 40px;
    color: white;
}
.container1, .container2{
    text-align: center;
    padding: 10px;
}
.game1{
    width: 200px;
    height: 170px;
    border: 10px rgb(2, 97, 97) groove;
    margin: 10px;
}
.game2{
    width: 200px;
    height: 170px;
    border: 10px black double;
    margin: 10px;
}
.game3{
    width: 200px;
    height: 170px;
    border: 10px darkmagenta dashed;
    margin: 10px;
}
.game4{
    width: 200px;
    height: 170px;
    border: 10px darkblue solid;
    margin: 10px;
}
.game5{
    width: 200px;
    height: 170px;
    border: 10px dotted darkolivegreen;
    margin: 10px;
}