.container,th,td{
    border: 1px salmon;
    border-collapse: collapse;
    padding: 10px;
}
.container tbody tr:nth-child(odd){
    background-color: blue;
}
.container tbody tr:nth-child(even){
    background-color: blueviolet;
}