.div1,.div2,.div3{
    background-color: brown;
    border: 2px solid black;
}

.container{
    display: flex;
    justify-content: space-around;
    
   
    
    
    
}
.div1{
    flex: 1;
    order: 2;
}
.div2{
    flex: 1;
    order: 3;
}
.div3{
    flex: 3;
    order: 1;
}

    
    